.newbie-list {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  overflow-y: scroll;

  .loading-container {
    text-align: center;
    padding: 20px 0 10px;
  }

  .finished-text {
    text-align: center;
    font-size: 13px;
    padding: 10px 0;
    color: #999;
  }
}
